/* All the configs & default css here */

@import url('./styles/custom-scroll-bar.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --family-primary: 'Circular Std';
  --family-secondary: 'Circular Std Book';

  --color-primary: #19d3c533;
  --color-secondary: #2d2d2d;
  --color-white: rgba(255, 255, 255, 0.87);

  --color-gray: #797979;

  --color-warning-500: #ffd95a;

  --color-danger-500: #ef4823;

  --base-font-size: 16px;
  --base-line-height: 1.3;
  --base-spacing: 1rem;
}

html {
  --color-bg: #f1f1f1;
  --color-text: black;
}

html.dark {
  --color-bg: #000; /* Dark background */
  --color-text: white; /* Dark text */
}

body {
  font-family: var(--family-primary);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);

  background-color: var(--color-bg);
  color: var(--color-text);

  overflow-x: hidden;

  box-sizing: border-box;

  scroll-behavior: smooth;

  margin: 0;
}

p {
  font-family: var(--family-primary);
  line-height: 1.3;
}

.header-style {
  background: rgba(255, 255, 255, 0.68);
  backdrop-filter: blur(25.036340713500977px);
}
.bg-banner {
  border-radius: 43.641px;
  border: 0.981px solid #fff;
  background: rgba(0, 0, 0, 0.29);
  letter-spacing: -0.487px;
}

.bg-gradient-primary {
  background: linear-gradient(80deg, #7d151e -32.23%, #fd1e28 111.4%);
}

.bg-form-general {
  fill: rgba(28, 28, 30, 0.91);
  backdrop-filter: blur(42.235198974609375px);
}
